/* ------------------------------- -------------- Menu style ----------------------- ----------------------- */

.glossymenu{
	width: 200px; /*width of menu*/
	
}

.glossymenu a.menuitemfirst{
	background: #D2D2D3 url('../Images/MenuFirst.png') repeat-x bottom left;
	color: #3F3F3F;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding-left: 10px;
	padding-top:10px;
	padding-bottom:10px;
	text-decoration: none; font-style:normal; font-variant:normal; 
	font-weight:bold; font-size:14px; font-family:Lucida Grande, Trebuchet MS, Verdana, Helvetica, sans-serif; padding-right:0; 

}

.glossymenu a.menuitem{
	background: #D2D2D3 url('../Images/MenuItem.png') repeat-x bottom left;
	color: #3F3F3F;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding-left: 10px;
	padding-top:8px;
	padding-bottom:8px;
	text-decoration: none; font-style:normal; font-variant:normal; 
	font-weight:bold; font-size:14px; font-family:Lucida Grande, Trebuchet MS, Verdana, Helvetica, sans-serif; padding-right:0; 
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
	color: #3F3F3F;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
}

.glossymenu a.menuitem:hover{
	background-image: url('../Images/MenuItemFocus.png');
}

.glossymenu a.menuitemfirst:hover{
	background-image: url('../Images/MenuItemFocus.png');
}


.glossymenu div.submenu{ /*DIV that contains each sub menu*/
	background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.glossymenu div.submenu ul li{
	background: #D2D2D3 url('../Images/LeftPanelBG.png') repeat-y bottom left;
	border-bottom: 1px solid #B1B2B2;
}

.glossymenu div.submenu ul li .lastElement{
	border-bottom:1 px solid #000;
}

.glossymenu div.submenu ul li a{
	display: block;
	font-family: Verdana;
	font-size:13px;
	color: black;
	text-decoration: none;
	padding: 5px 0;
	padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover{
	background: #208DCC;
	color: white;
	background-image: url('../Images/MenuItemFocus.png');
}

