body{ 
	text-align: justify; 
	font-family: Verdana; 
	font-size: 9pt; 
	color: #322B29 ;
	MARGIN: 0px;
	
}
a{
	text-decoration: none;
}
table{
	font-family: Verdana; 
	font-size: 9pt; 
}
input[type="text"] {
	border: 1px solid #AEC9E6;
	font-size: 9pt;
}
input[type="password"] {
	border: 1px solid #AEC9E6;
	font-size: 9pt;
}

textarea {
	border: 1px solid #AEC9E6;
	font-size: 9pt;
	text-align: justify; 
	font-family: Verdana; 
}


input[type="button"] {
	border: 1px solid #AEC9E6;
	min-width:80px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	min-height:25px;
	background-color: #62BD4A;
	color:white; 
}
	
input[type="button"]:HOVER{
	border: 1px solid #AEC9E6;
	background-image: url('../Images/ButtonBG.gif');
	cursor:pointer;cursor:hand;
	color:black;

}  

input[type="button"].disabledButton {
	border: 1px solid #AEC9E6;
	min-width:80px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	min-height:25px;
}
	
.disabledButton:HOVER{
	border: 1px solid #AEC9E6;
	min-width:80px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	min-height:25px;

}





input[type="reset"]{
	border: 1px solid #AEC9E6;
	min-width:90px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
}
input[type="reset"]:HOVER{
	border: 1px solid #AEC9E6;
	background-image: url('../Images/ButtonBG.gif');
}

input[type="file"] {
	min-width:70px;
	border-style: solid; border-width: 1px;
	border-color: #AEC9E6;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
}
input[type="file"]:HOVER{
	background-image: url('../Images/ButtonBG.gif');
	min-width:90px;
	border-style: solid; border-width: 1px;
	border-color: #AEC9E6;
}


#TopPanel{
	background-image: url('../Images/TopPanelBG.png'); 
	background-repeat: repeat-x; background-position: left top;

}

#LeftPanel{
	background-image: url('../Images/LeftPanelBG.png'); 
	background-repeat: repeat-y; background-position: left top;
	background: #D2D2D3 url('../Images/LeftPanelBG.png') repeat-y bottom;
	min-height: 900px;
	
}

#AppLogo{
	background-image: url('../Images/'); background-repeat: no-repeat; 
    background-position: center;
    width:280px;
    height:50px;
	float:left;
	margin:10px;
	
}
.clear{
clear:both;	
}
#user-area{
	float:right;
	width:600px;
	height:50px;
	margin:10px;
	text-align: right;
}

#user-area .welcome{
	color:#FFF;	
	
}
#user-area .UserName{
	color:#F4FA5F;	
	margin-left:10px;
	
}

#logout{
	float:right;
	width:70px;
	height:20px;
	margin:10px;
	color:#FFF;
	text-align: right;
	cursor: pointer;cursor: hand;
	
}


#logout:hover{
	text-decoration: underline;
	color:#F4FA5F;
	
}

#PageHeader{
height:60px;
width:auto;
margin-left: 5px;
margin-right: 10px;
border-bottom: 1px solid #4E4E4E;
}

#PageHeader .headerText{
	font-size: 15pt;
	margin-top: 5px;
	float:left;
}

#PageHeader .PageUse{
	float:left;
	font-size: 11px;
	margin-top:8px;	
}

#StatusBlock{
	width:auto;
	margin:10px;
	font-weight: bold;
	font-size: 10pt;
}


.StatusOk{
	border: 1px solid #1f91f3;
	background-color: #1f91f3;
	color:#ffffff;
	padding:5px;
	min-height:15px;
}
span .icon{
	
	margin-left: 5px;
	margin-right: 5px;
} 


.StatusError{
	border: 1px solid #fb483a;
	background-color: #fb483a;
	color:#8A1A00;
	padding:5px;
}

.StatusWarning{
	border: 1px solid #C4A600;
	background-color: #EFE192;
	color:#6B5B00;
	padding:5px;
}

.floatRight{
	float:right;
}

.floatLeft{
	float:left;
}

.defaultMarginTop{
	margin-top: 10px;	
}
.defaultMarginLeft{
	margin-left: 5px;	
}
.defaultMargin{
	margin: 10px;
}
#ActionPanel{
	color:#0064BA;
	padding:5px;
	border: 1px solid #54A3F6;
	background-color: #C4DEF9;
	float:left;
	width:97%;
	 
}
#Section{
	color:#009ACB;
	padding:5px;
	height:20px;
	margin-bottom:0px;
	font-size: 11pt;
	font-weight: bold;
}

#Footer{
	
	background-color: #594F4F;
	color:#FCFCFC;
	font-size: 7pt;
	text-align: center;

}
.defaultRoundedBox{
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
}
.blueBox{
	background-color: #AFD1EE;
}

.whiteBox{
	background-color: #FFFFFF;
}
.noBorder{
	border:0px;
}
.borderTop{
	border-bottom:1px solid;
}
.borderLeft{
	border-left:1px solid;
}
.borderRight{
	border-right:1px solid;
}
.borderBottom{
	border-bottom:1px solid;
}
.borderBox{
border: 1px solid;
}

.borderBoxNoBottom{
	border-left:1px solid;
	border-right: 1px solid;
	border-top:1px solid;
}

.borderBoxNoTopNoBottom{
	border-left:1px solid;
	border-right: 1px solid;
}

.borderBoxNoTop{
	border-left:1px solid;
	border-right: 1px solid;
	border-bottom:1px solid;
}

.borderBoxNoLeft{
	border-top:1px solid;
	border-right: 1px solid;
	border-bottom:1px solid;
}

.borderBoxNoRight{
	border-left:1px solid;
	border-top: 1px solid;
	border-bottom:1px solid;
}

.borderBoxTopBottom{
	border-top:1px solid;
	border-bottom:1px solid;
}

.borderBoxLeftRight{
	border-left:1px solid;
	border-right:1px solid;
}


.borderBlue{
	border-color: #54A3F6;
}

.borderGray{
	border-color: #737373;		
}

.borderDarkGray{
	border: 1px solid #54A3F6;	
}
.borderLightGray{
	border-color: #DDDDDD;	
}
.borderLightBlue{
	border-color: #AFD1EE;	
}


.borderYellow{
	border-color: #F2F2A5;
}

.defaultRoundedBoxTop{
	-moz-border-radius-topright: 5px 5px;
	border-top-right-radius: 5px 5px;
	-moz-border-radius-topleft: 5px 5px;
	border-top-left-radius: 5px 5px;
}

.defaultRoundedBoxBottom{
	-moz-border-radius-bottomright: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	-moz-border-radius-bottomleft: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.clickable{
	cursor:pointer;cursor:hand;
}
.clickable:hover{
	text-decoration: underline;
}

#tableHeader , #tableContent , #tableFilter , #tableFooter{
	margin-right: 10px;
	margin-left: 10px;
	height:30px;
	font-size: 12px;
	
}

#tableHeader{
	background-color: #ABDAFF;
}
#tableFilter{
	background-color: #DBEEFF;
}
#tableFooter{
	background-color: #F0F8FF;

}
#tableHeader span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 8px;
	margin-left: 5px;
}

/* #tableFilter span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 5px;
	
}
 */
#tableContent span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 0px;
}

#tableHeader input[type="checkbox"]{
	margin-top:1px;
}

#tableFooter span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 5px;

}

#tableRow{
	height:35px;
	width:100%;
}

#tableRow input{
	border: 0px;
}
/* #tableRow:hover{
	background-color: #8CC7E2;
} */

/* #tableRow input:hover{
	background-color: #8CC7E2;
} */

#tableRow input:FOCUS{
	background-color: #F4F3A0;
}


#TableRowSmall td{
	height:18px;
	font-size: 8pt;
}


#TableRowSmall input[type="text"]{
	border: 1px solid #FFFFFF;
	height:18px;
	font-size: 8pt;
}

.lightBlueBG{
	background-color: #CCE5FF;

}
.boldText{
	font-weight: bold;
}

.show{
	display:block;
}

.hide{
	display:none;
}

.blueText{
	color:#0F90FF;
}
.whiteText{
	color:#FFF;
}
.grayText{
	color:#D5D6D7;
}
.lightGrayBox{
	background-color: #F7F7F7;
}
.grayBox{
	background-color: #D5D6D7;
}
.lightBlueBox{
	background-color: #D6E4EB;
}
.veryLightBlueBox{
	background-color: #EFF4FA;
}
.mandatory{
	background-color: #FFE8E1;
	border: 1px solid #AEC9E6;
}

.AppName{
	font-size: 18px;
	font-weight: bold;
	
}
.smallText{
	font-size: 12px;
}
.appSlogan{
	color: #F0F8FF;
}

.soItemTableHeader{
	border-collapse: collapse; 
	font-size: 10pt; 
	font-weight: bold; 
	background-image: url('../Images/glossyback.gif'); 
	background-repeat: repeat-x; background-position: left top;
}
.SubHeader{
	color: #424E5C; 
	font-size: 9pt; 
	font-weight: bold; 
	background-image:url('../Images/Website/MainBarHeaderBG.png'); 
	background-repeat:repeat-x;

}

.loginHeder
{
	font-family: Verdana; font-size: 42px; color: #0064BA; font-weight: bold;
}
