body{ 
	text-align: justify; 
	font-family: Verdana; 
	font-size: 9pt; 
	color: #322B29 ;
	MARGIN: 0px;
	background-image: url('../Images/Website/PageBG.png'); 
	background-repeat: repeat-x; background-position: left top;
	
}

a {
	color: #69C;
	text-decoration: none;
}
a:hover {
	color: #F30;
}
table{
	font-family: Verdana; 
	font-size: 9pt; 
}

input[type="text"] {
	border: 1px solid #AEC9E6;
	font-size: 9pt;
}

textarea {
	border: 1px solid #AEC9E6;
	font-size: 9pt;
	text-align: justify; 
	font-family: Verdana; 
}


input[type="button"] {
	border: 1px solid #AEC9E6;
	min-width:80px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	min-height: 25px;
	font-size: 10pt; color:#FFFFFF; font-weight:bold; 
	background-image: url('../Images/ButtonBG.gif');
	background-repeat:repeat-x;
}
	
input[type="button"]:HOVER{
	border: 1px solid #AEC9E6;
	background-image:url('../Images/Website/MenuBarBG.png'); background-repeat:repeat-x;
	cursor:pointer;cursor:hand;

}

input[type="reset"]{
	border: 1px solid #AEC9E6;
	min-width:80px;
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
	min-height: 25px;
	font-size: 10pt; color:#FFFFFF; font-weight:bold; 
	background-image: url('../Images/ButtonBG.gif');
	background-repeat:repeat-x;
}

input[type="reset"]:HOVER{
	border: 1px solid #AEC9E6;
	background-image:url('../Images/Website/MenuBarBG.png'); background-repeat:repeat-x;
	cursor:pointer;cursor:hand;
}


#PageWrap{
	border: 1px solid #AEC9E6;
	min-height:640px;
	width:90%;
	
}

ul{
	list-style-type:none;
}
#top-nav {
	float:right;
	margin-right:10px;
}
#top-nav li {
		font-size:11px;
		line-height:12px;
		float:left;
		padding-left:10px;
		padding-right:10px;
		border-left:#FFFFFF 1px solid;
	}

#top-nav li.first {
		border-left:0px;
}
#top-nav li span {
		color:#6C6C6C;
}
#top-nav li a {
		color:#FFFFFF;
}
#top-nav li a:hover{
	color:#FFFEB0;
	text-decoration: underline;
}


#top-nav li.last {
		border-right:#FFFFFF 1px solid;
		color:#FFFFFF;
}
#top-nav li.selected {
		
		font-weight:bold;	
		color:#FFFEB0;
}

#TopPanel{
	border: 1px solid #AEC9E6;
	height:100px;

}

#LeftPanel{
	background-image: url('../Images/LeftPanelBG.png'); 
	background-repeat: repeat-y; background-position: left top;

}

#AppLogo{
	background-image: url('../Images/AppName.png'); background-repeat: no-repeat; 
    background-position: center;
    width:280px;
    height:50px;
	float:left;
	margin:10px;
	
}
.clear{
clear:both;	
}


.SubHeader{
	color: #424E5C; 
	font-size: 9pt; 
	font-weight: bold; 
	background-image:url('../Images/Website/MainBarHeaderBG.png'); 
	background-repeat:repeat-x

}

#user-area{
	float:right;
	width:600px;
	height:50px;
	margin:10px;
	text-align: right;
}

#user-area .welcome{
	color:#FFF;	
	
}
#user-area .UserName{
	color:#F4FA5F;	
	margin-left:10px;
	
}

#logout{
	float:right;
	width:70px;
	height:20px;
	margin:10px;
	color:#FFF;
	text-align: right;
	cursor: pointer;cursor: hand;
	
}


#logout:hover{
	text-decoration: underline;
	color:#F4FA5F;
	
}

#PageHeader{
height:60px;
width:auto;
margin-left: 5px;
margin-right: 10px;
border-bottom: 1px solid #4E4E4E;
Font-size:14pt;
}

#PageHeader .headerText{
	font-size: 15pt;
	margin-top: 5px;
	float:left;
}

#PageHeader .PageUse{
	float:left;
	font-size: 11px;
	margin-top:8px;	
}

#StatusBlock{
	width:auto;
	margin:10px;
	font-weight: bold;
	font-size: 10pt;
}


.StatusOk{
	border: 1px solid #008E35;
	background-color: #97CC85;
	color:#2F5322;
	padding:5px;
	min-height:15px;
}
span .icon{
	
	margin-left: 5px;
	margin-right: 5px;
} 


.StatusError{
	border: 1px solid #FE5C37;
	background-color: #FFAA96;
	color:#8A1A00;
	padding:5px;
}

.StatusWarning{
	border: 1px solid #C4A600;
	background-color: #EFE192;
	color:#6B5B00;
	padding:5px;
}

.floatRight{
	float:right;
}

.floatLeft{
	float:left;
}

.defaultMarginTop{
	margin-top: 10px;	
}
.defaultMarginLeft{
	margin-left: 5px;	
}
.defaultMargin{
	margin: 10px;
}
#ActionPanel{
/* //	border: 1px solid #0F90FF;
//	background-color: #AFD1EE; */
	color:#0064BA;
	padding:5px;
	height:22px;
	border: 1px solid #54A3F6;
	background-color: #C4DEF9;
	
}
#Section{
	color:#009ACB;
	padding:5px;
	height:20px;
	margin-bottom:0px;
	font-size: 11pt;
	font-weight: bold;
}

.defaultRoundedBox{
	-moz-border-radius: 4px 4px;
	border-radius: 4px 4px;
}
.blueBox{
	background-color: #AFD1EE;
}
.noBorder{
	border:0px;
}
.borderTop{
	border-bottom:1px solid;
}

.borderBottom{
	border-bottom:1px solid;
}
.borderBox{
border: 1px solid;
}

.borderBoxNoBottom{
	border-left:1px solid;
	border-right: 1px solid;
	border-top:1px solid;
}



.borderBoxNoTop{
	border-left:1px solid;
	border-right: 1px solid;
	border-bottom:1px solid;
}

.borderBoxNoLeft{
	border-top:1px solid;
	border-right: 1px solid;
	border-bottom:1px solid;
}

.borderBoxNoRight{
	border-left:1px solid;
	border-top: 1px solid;
	border-bottom:1px solid;
}

.borderBoxTopBottom{
	border-top:1px solid;
	border-bottom:1px solid;
}

.borderBoxLeftRight{
	border-left:1px solid;
	border-right:1px solid;
}


.borderBlue{
	border-color: #54A3F6;
}

.borderGray{
	border-color: #737373;		
}

.borderLightGray{
	border-color: #DDDDDD;	
}
.borderLightBlue{
	border-color: #AFD1EE;	
}


.borderYellow{
	border-color: #F2F2A5;
}

.defaultRoundedBoxTop{
	-moz-border-radius-topright: 5px 5px;
	border-top-right-radius: 5px 5px;
	-moz-border-radius-topleft: 5px 5px;
	border-top-left-radius: 5px 5px;
}

.defaultRoundedBoxBottom{
	-moz-border-radius-bottomright: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	-moz-border-radius-bottomleft: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.clickable{
	cursor:pointer;cursor:hand;
}
.clickable:hover{
	text-decoration: underline;
}

#tableHeader, #tableContent, #tableFilter, #tableFooter{
	margin-right: 10px;
	margin-left: 10px;
	height:30px;
	font-size: 12px;
	
}

#tableHeader{
	background-color: #ABDAFF;
}
#tableFilter{
	background-color: #DBEEFF;
}
#tableFooter{
	background-color: #F0F8FF;

}
#tableHeader span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 8px;
	margin-left: 5px;
}

#tableFilter span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 5px;
	
}

#tableContent span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 5px;
}

#tableHeader input[type="checkbox"]{
	margin-top:1px;
}

#tableFooter span{
	margin-right: 10px;
	padding-right:5px;
	padding-top: 5px;

}

#tableRow{
	height:30px;
	float:left;
	width:100%;
}

#tableRow input{
	border: 0px;
}
#tableRow:hover{
/* 	background-color: #8CC7E2; */
}

#tableRow input:hover{
/* 	background-color: #8CC7E2; */
}

#tableRow input:FOCUS{
	background-color: #F4F3A0;
}

.boldText{
	font-weight: bold;
}

.show{
	display:block;
}

.hide{
	display:none;
}

.blueText{
	color:#0F90FF;
}

.grayText{
	color:#D5D6D7;
}
.lightGrayBox{
	background-color: #F7F7F7;
}
.lightBlueBox{
	background-color: #D6E4EB;
}
.mandatory{
	background-color: #FFE8E1;
	border: 1px solid #AEC9E6;
}

#menuBar{
	background-image: url('../Images/Website/MenuBarBG.png'); 
	background-repeat: repeat-x; 
	background-position: left center;
	font-size: 12pt;
	
}

#menuBar ul{
	list-style-type:none;
	color:#FFF;
	margin-top: 0px;
	
}

#menuBar li{
	list-style-type:none;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	color:#FFF;
	height: 41px;
	padding-top:20px;
	background-image: url('../Images/Website/MenuSeparator.png'); 
	background-repeat: no-repeat; 
	background-position: right center;
	
}

#menuBar li.selected{
	color:#E1E0A7;
	background-image: url('../Images/Website/SelectedMenuBG.png'); 
	background-repeat: repeat-x; 
	background-position: left center;
}

#menuBar li.first{
	background-image: url('../Images/Website/MenuSeparator.png'); 
	background-repeat: no-repeat; 
	background-position: left center;
}


#menuBar li a{
	color:#FFF;
}

.SectionMenuItem{
	border-left: 1px solid #FFFFFF; 
	border-right: 1px solid #FFFFFF; 
	border-top-width: 1; border-bottom-width: 1;
	height: 18px;
	text-align: center;
}
.SectionMenuItem a{
	color: #FFF;
}

/*
Back to top button 
*/
#back-top {
	position: fixed;
	bottom: 30px;
	right: 10px;
}
#back-top a {
	width: 100px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 7px;
	margin-left:32px;
	background: #ddd url('../Images/Website/up-arrow.png') no-repeat center;
	/* rounded corners */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s
}
#back-top a:hover span {
	background-color: #777;
}

.WebMenuItem{
	background-image: url('../Images/Website/MenuSeparator.png'); background-repeat: no-repeat; background-position: left center;
	text-align: center;
}
.WebMenuItemSel{
	color: #FFF;font-weight:bold; background-image: url('../Images/Website/SelectedMenuBG.png'); background-repeat: repeat-x;
	text-align: center;
}


/* Slider */

#slider { width: 650px; height: 235px; position: relative;  }
#slider .jcarousel-clip,
#slider ul.items,
#slider ul.items li {width: 650px; height: 235px; overflow: hidden; position: relative ;}
#slider ul.items li { float: left; display: inline; color: #bae3ff; }
#slider .entry { width: 650px; padding-bottom: 0px; float: left; display: inline; padding-top: 0px;  }
#slider .entry h2 {font-size: 28pt;font-weight:normal }
#slider .entry h2 span { color: #F7B720; }
#slider .entry h3 { font-size: 28pt;font-weight:normal}
#slider .entry h3 span { color: #F7B720; }
#slider .entry p { letter-spacing: 1px;font-size: 16pt; line-height: 30px; padding-left: 1px; padding-bottom: 40px;;font-weight:normal }
#slider .entry .slide-btn { background: url('../Images/Website/slider-nav.png') no-repeat 0 0; width: 227px; height: 57px; display: block; font-size: 0; line-height: 0; text-indent: -4000px }
#slider .entry :hover.slide-btn { background-position: 0 -58px; }
#slider img { float: right; display: inline; padding: 0px;}
#slider .nav { position: absolute; bottom: 10px; right:10px; height: 18px; }
#slider .nav li { float: left; display: inline; padding-right: 1px; }
#slider .nav a { background: url('../Images/Website/slider-nav.png') no-repeat 0 0; height: 18px; width: 18px; display: block; font-size: 0px; line-height: 0px; text-indent: -4000px}
#slider .nav a:hover,
#slider .nav li.active a { background-position: 0 -18px; }


#ticker {
	list-style-type:none;
    height: 40px;
    overflow: hidden;
  
}
#ticker li {
	 height: 40px; overflow: hidden; position: relative ;padding-left: 0px;text-align:justify;
	// margin-left:-20px;
	
}